{{#each statuses as |status|}}
<div data-id="{{status.id}}">

<p name="[status][status]"> <small> status:{{status.status}}</small></p>

</tr>
</div>
<!--Will create handlebars after setting the follow relationship since user can see status
or the person they follow-->
